body {
	background-color: Azure ;
	font-family: "Courier New", Courier, monospace;
}

.menu tr {
	height: 30px;
	width: 760px;
	margin: 0 auto;
}

.menu tr td {
    font-weight: bold;
    font-size: 14pt;
	line-height: 0.8;
	height: 30px;
	width: 150px;
	margin: 0 auto;
	border: 5px solid #000000;
	background-color: white;
}

.menu tr td a:link,
a:visited {
	background-color: white;
	color: black;
	border: 2px solid white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.menu tr td a:hover,
a:active {
	background-color: AliceBlue;
	color: LightSlateGray;
}

.container {
	width: 100%;
	margin-top: 50px;
}

.container table {
	margin-left: auto;
	margin-right: auto;
}

.products {
	border-color: black;
	background-color: white;
}

.products tr:nth-child(n+2) td {
	border-top: 10px black solid;
}

.product-info tr td {
    border:0px !important;
}

.form_table {
	font-weight: bold;
}

.button {
	background-color: #555555;
	/* Black */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.titles {
	color: black;
	text-shadow: 1px 1px 2px #000000;
	font-size:18pt;
	font-weight:bold;
}
.properties {
    font-size:16pt;
    font-weight:bold;
}