{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="http://localhost:5000/send_data">
        <input type="hidden" name="id" value="{{ product.id }}">
        <table>
            <tr>
                <td>Product's Name:</td>
                <td> <input name="product_name" value="{{ product.product_name }}" type="text"></td>
            </tr>

            <tr>
                <td> URL:</td>
                <td>  <input name="url"  value="{{ product.url }}" type="url"></td>
            </tr>

            <tr>
                <td>Desired Price:</td>
                <td> <input name="desired_price" value="{{ product.desired_price }}" type="text"></td>
            </tr>

            <tr>
                <td colspan="2" align="center"><input type="submit" value="send please"></td>
            </tr>

        </table>

    </form>

{% endblock content %}