<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NeWebsite</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="menu">
            <table border="1" cellspacing="0" cellpadding="0" align="center" width="600">
                <tr>
                    <td height="100" colspan="4"  align="center">
                        <img src="/images/superpharm.png">
                     </td>
                </tr>
                <tr>
                    <td width="150" height="40" align="center"><a href="/HomePage">Home</a></td>
                    <td width="150" height="40" align="center"><a href="/NewProduct"> New Product</a></td>
                    <td width="150" height="40" align="center"><a href="/About">About</a></td>
                </tr>
            </table>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>